*/.vscode/*
*/__pycache__/*
*/data/*
*/etc/*
*/logs/*
*/models/*
*/results/*
*/samples/*
__MACOSX/*
*/evaluation_all/*
*/processed/*
*/__pycache__/*
*/spk/*
*/spk_test/*
*/vcc2016_training/*
etc/*
*.zip
__pycache__/*
data/*