*/.vscode/*
*/__pycache__/*
*/etc/*
*/logs/*
*/models/*
*/results/*
*/samples/*
__MACOSX/*
*/evaluation_all/*
*/processed/*
*/__pycache__/*

*/vcc2016_training/*
etc/*
*.zip
__pycache__/*
dir_16kHz/*
dir_16kHz